@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/src/fonts/roboto/Roboto-Regular.ttf') format('ttf');
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/src/fonts/roboto/Roboto-Medium.ttf') format('ttf');
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/src/fonts/roboto/Roboto-Bold.ttf') format('ttf');
  }

  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('/src/fonts/roboto/Roboto-Italic.ttf') format('ttf');
  }

  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/src/fonts/robotSlab/RobotoSlab-Regular.ttf') format('ttf');
  }

  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/src/fonts/robotSlab/RobotoSlab-Medium.ttf') format('ttf');
  }

  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/src/fonts/robotSlab/RobotoSlab-SemiBold.ttf') format('ttf');
  }

  a,
  p,
  h1,
  h2,
  h3,
  form,
  footer,
  label,
  button {
    @apply leading-none;
  }
}

@layer components {
  .animation-properties {
    @apply absolute w-4 h-4 rounded-full bg-current;
  }
}
